*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: Geneva, helvetica, sans-serif, Verdana;
	font-size: 1rem;
	line-height: 1.5;
	color: rgb(51,51,51);
	overflow-x: hidden;
	background: rgb(151,151,151);
}

.v-header{
	height: 100vh;
	/*width: 100%;*/
	display: flex;
	align-items: center;
	color: rgb(255,255,255);

}

.container{
	max-width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: auto;
	text-align: center;
}

.fullscreen-video{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	/*z-index: 3;*/
}

.fullscreen-video video{
	min-width: 100%;
	min-height: 100%;
}

.header-overlay{
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(34,84,112,0.65);
	z-index: 1;
}

.header-content{
	z-index: 2;
	margin-right: auto;
	margin-left: auto;
	width: 60%
}

.header-content h1{
	font-size: 50px;
	margin-bottom: 0;
}

.header-content p{
	font-size: 1.5rem;
	text-align: center;
	padding-bottom: 2rem;
}

.btn{
	background: rgb(52,179,160);
	padding: 1rem 2rem;
	color: rgb(255,255,255);
	font-size: 1.2rem;
	text-decoration: none;
}

.section{
	position: relative;
	padding: 20px 0;
	color: rgb(255,255,255);
	z-index: 3;
}

.section-a{
	background: rgb(200,200,255);
	color: rgb(54,50,50);
	width: 50%;
	float: left;
	margin: 0px 0px;
	/*z-index: 3;*/
	/*display: inline;*/
}

.section-b{
	background: rgb(24,64,92);
	width: 50%;
	margin: 0px 0px;
	/*display: inline;*/
	float: right;
	/*z-index: 3;*/
}

.header-content a:hover{
	background: rgb(82,200,180);
	/*text-decoration: underline;*/
}

@media(max-width: 960px){
	.container{
		padding-right: 3rem;
		padding-right: 3rem;

	}

}